html {
	font-size: 20px;
}
body   {
	margin: 0px;
	padding: 0px;
	text-align: center ;  /* Pour IE6 */
	font-family: times, sans-serif;
	color: #103176;
	font-size: 1em;
	background-repeat:no-repeat;
	background-image:url(/images/fond.jpg);
	background-size: 1800px 1800px;
}

#conteneurSite {
	margin: 0 auto ;
	width: 600px;
	height:812px;
	color: #103176;
	overflow:hidden; 
	border:3px solid #B9121B;
	border-radius: 5px;
	margin-top:14px;
	margin-bottom:15px;
 }

#entete  { 	
	margin-top:10px;
	height:90px;
	background-size: 75%;
	background-repeat:no-repeat;
	background-position: center;
}

#entete_centre  {

}

label
{
	display: inline-block;
	width: 200px;
	text-align:left;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=file], input[type=radio] {
    padding: 12px 20px;
    box-sizing: border-box;
    width:350px;
    margin:15px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
    float: left;
    width: 100%;
}

/* Add padding to container elements */
.container {
    height:600px;
    width:600px;

}

form{
	background-repeat:no-repeat;
	background-size: 100%;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;    
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 500px) {
    .signupbtn {
       width: 100%;
    }
}


input[name=code_postal], input[name=ville] {
    padding: 12px 20px;
    border: 1px solid #ccc;
    width:160px;
    margin:15px;
}

input[name=jour], [name=mois], [name=annee] {
	width:100px;
	float:right;
	margin-right: 24px;
	margin-top: 20px;
	height:21px;
}

label[name=ddn] {
	margin-right:17px;
	margin-top:20px;
	margin-bottom:40px;
}

input[type=radio] {
	width:50px;
}

#login{
	width:200px;
	height:80px;
	display:inline-block;
	float:right;
	text-align:center;
	font-size:20px;
}

img{
	margin-top:5px;
}